<header>
    <h1>{{title}}</h1>
    <div class="user_profile" onclick="toggleDropdown()">
        <img class="header_profile_picture" src="/img/genericUserIcon.png" alt="User Profile Picture">
        <p class="header_username">{{userDetails.firstName}} {{userDetails.lastName}}</p>
        <i class="uil uil-angle-down"></i>

        <div id="dropdown-content" class="dropdown-content">
            <p onclick="event.stopPropagation()">{{userDetails.email}}</p>
            <hr>
            <a href="/settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

</header>
<script>
    // Toggle dropdown visibility on click
    function toggleDropdown() {
        const dropdown = document.getElementById("dropdown-content");
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }

    // Close dropdown if clicked outside
    window.onclick = function(event) {
        const dropdown = document.getElementById("dropdown-content");
        if (!event.target.closest('.user_profile')) {
            dropdown.style.display = "none";
        }
    }
</script>