<nav class="mobileNav">
    <i class="uil uil-bars" onclick="openMobileNav()"></i>
    <img class="logo" src="img/logo_1.png" alt="">
    <img class="userIcon" src="https://www.dummyimage.com/48x48/e3e3e3" alt="">
</nav>

<nav class="desktopNav" id="desktopNav">
	<i class="uil uil-bars mobileNav_extra" onclick="openMobileNav()"></i>

    <img src="img/logo_1.png" alt="">

	<button id="create_stack_button_mobile" class="mobileNav_extra">Create New Project</button>

	<ul>
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/teams">Teams</a></li>
		<li><a href="/settings">User setting</a></li>
		{{!-- {{#if isAdmin}}  it works. aslong as the controller sends a isAdmin with it --}}
		<li><a href="/admin_user_settings">Admin setting</a></li>
		{{!-- {{/if}} --}}
	</ul>

	<ul class="mobileNav_bottomSettings">
		<li><a href="/settings">Settings</a></li>
	</ul>
</nav>

<script src="script/nav.js"></script>
<script defer>
	if(localStorage.getItem("dyslexia") === "true")
	{
		document.querySelector("body").classList.add("dyslexia_mode")
	}
</script>