<nav class="mobileNav">
	<i class="uil uil-bars" onclick="openMobileNav()"></i>
	<img class="logo" src="/img/logo_1.png" alt="" />
	<img class="userIcon" src="https://www.dummyimage.com/48x48/e3e3e3" alt="" />
</nav>

<nav class="desktopNav" id="desktopNav">
	<i class="uil uil-bars mobileNav_extra" onclick="openMobileNav()"></i>

	<img src="/img/logo_1.png" alt="" />

	{{#if userDetails.isNewStackAllowed}}
		<button id="create_stack_button_mobile" class="mobileNav_extra">Create New Project</button>
	{{/if}}

	<ul>
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/teams">Teams</a></li>
		{{#if userDetails.isAdmin}}
			<li><a href="/admin_user_settings">Admin settings</a></li>
		{{/if}}
	</ul>

</nav>

<script src="/script/nav.js"></script>
<script defer>
	let body = document.querySelector("body");
	if(localStorage.getItem("dyslexia") === "true") {
		body.classList.add("dyslexia_mode"); 
	}
	body.style.fontSize = localStorage.getItem("fontSize"); 
	body.style.lineHeight =	localStorage.getItem("lineHeight");
</script>