<div class="settings">
		<h4>User settings</h4>
	<div class="settingsText">
		<p>Change profile</p>
	<a href="/settings-password" class="Link">
			<p>Change password</p></a>
	</div>
		<h4>Admin settings</h4>
	<div class="settingsText">
		<a href="/settings-upgrade-user" class="Link">
		<p>Upgrade user</p></a>
		<p>Change profile picture</p>
	</div>
</div>

