<div class="settings">
	<h4>User settings</h4>
	<div class="settingsText">
		<a href="/settings" class="Link">
			<p>Change profile</p>
		</a>	
		<a href="/settings-password" class="Link">
			<p>Change password</p>
		</a>
		<a href="/accessibility" class="Link">
			<p>Accessibility</p>
		</a>
	</div>
	{{#if userDetails.isAdmin}}
	<h4>Admin settings</h4>
	<div class="settingsText">
		<a href="/admin_user_settings" class="Link">
			<p>Upgrade user</p>
		</a>
		<a href="/template" class="Link">
			<p>Templates</p>
		</a>
	</div>
	{{/if}}
</div>