<div class="settings">
	<h3>Settings</h3>
	<a href="/settings" class="Link">
		<h4>User settings</h4>
	</a>
	<div class="settingsText">
		<p>Change profile</p>
	<a href="/settings-password" class="Link">
			<p>Change password</p>
	</div>
	<a href="/settings-upgrade-user" class="Link">
		<h4>Admin settings</h4>
	</a>
	<div class="settingsText">
		<p>Upgrade user</p>
		<p>Change profile picture</p>
	</div>
</div>

