<div class="settings">
	<a href="/settings" class="Link">
		<h4>User settings</h4>
	</a>
	<div class="settingsText">

		<p>Change profile</p>
		<a href="/settings-password" class="Link">
			<p>Change password</p>
		</a>

	</div>
	<a href="/admin_user_settings" class="Link">
		<h4>Admin settings</h4>
	</a>
	<div class="settingsText">
		<p>Upgrade user</p>
	</div>
</div>