	<link rel="stylesheet" href="/css/settings.css" />
{{> nav}}
<main class="main_settings">
	{{> header}}

	<section class="container">
{{> settingsnav}}
		<div class="settings_container">
            <h2>Accessibility settings</h2>
			<section class="accessibilitySection_wrapper">
                <h4>Color mode</h4>
                <div class="btn_container">
                    <div onclick="setColormode('light');highlightThemeBtn(this)" class="colorMode_btn">
                        <span>Light</span>
                    </div>
                    <div onclick="setColormode('dark');highlightThemeBtn(this)" class="colorMode_btn">
                        <span>Dark</span>
                    </div>
                </div>
            </section>

            <section class="accessibilitySection_wrapper">
                <h4>Font</h4>
                <div class="btn_container">
                    <div class="fontFamilyMode_btn" onclick="defaultMode();highlightModeBtn(this)">
                        <span>Default</span>
                    </div>
                    <div class="fontFamilyMode_btn" onclick="dyslexicMode();highlightModeBtn(this)">
                        <span>Dyslexic</span>
                    </div>
                </div>
            </section>

            <button class="button advDyslexiaOptions_btn" id="advDyslexiaOptions_btn" onclick="showAdvDyslexiaOptions()">Show advanced options</button>
            <div class="advDyslexiaOptions_wrapper">
                <section class="accessibilitySection_wrapper">
                    <h4>Font size</h4>
                    <div class="btn_container">
                        <div class="fontSizeMode_btn" onclick="fontSizeChange(this);highlightFontSizeBtn(this)">
                            <span>Small</span>
                        </div>
                        <div class="fontSizeMode_btn" onclick="fontSizeChange(this);highlightFontSizeBtn(this)">
                            <span>Default</span>
                        </div>
                        <div class="fontSizeMode_btn" onclick="fontSizeChange(this);highlightFontSizeBtn(this)">
                            <span>Large</span>
                        </div>
                    </div>
                </section>
            </div>

		</div>
	</section>

</main>

<script src="/script/accessibility.js"></script>