{{> nav}}
    
<main>
    <section class="header">
        <h1>Projects</h1>
        <div class="user_profile">
            <img src="" alt="User Profile Picture">
            <p>Username</p>
            <a href="">V button</a>
        </div>
    </section>
    <div class="search">
        <input class="search_bar" type="text" placeholder="search"></input>
        <button class="search_button">Search</button>
    </div>
    <div class="stack_sorting">
        <div class="sort_section">
            <div>
                <a class="sort" href="">Your Stacks</a>
                <a class="sort" href="">Others Stacks</a>
            </div>
            <div>
                <button class="create_button">Create New Stack</button>
            </div>
        </div>
    </div>
    <div class="list_info">
        <span>Name</span>
        <span>Author</span>
        <span>Creation Date</span>
        <span>Status</span>
        <span>arrow</span>
    </div>
    <div class="stack_list">

                <ul>
                    {{#each stack}}
                    <li>{{name}}</li>
                    <li>{{author}}</li>
                    <li>{{creationDate}}</li>
                    <li>{{status}}</li>                
                    {{/each}}
                </ul>
    </div>
</main>
<footer></footer>