<script src="/script/script.js"></script>

<div class="login_container">
    <div class="login_container2">
        <img class="logo_login" src="img/logo_1.png">
        <h2 class="find_account_title"> Reset Password</h2>
        <form action="" class="login_form" method="post">
            <input type="text" id="myInput" class="input_login" placeholder="Email" name="email" required>
            <button type="submit" class="continue_button">Continue</button>
             <div class="forgot_password_signup">
            <span class="signup_link"><a href="signup">Sign up</a></span>
           </div>
        </form>
    </div>
</div>

