<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/css/style.css"/>
    <title>Kubelab Dashboard</title>
</head>
<body>
  <div class="login_container">
    <div class="login_container2">
        <img class="logo_login" src="public/img/logo.png">
        <form action="" method="post">
            <label for="username">Username</label>
            <input type="text" class="input_login" placeholder="Enter Username" name="username" required>
            <label for="psw">Password</label>
            <input type="password" class="input_login" placeholder="Enter Password" name="password" required>
            <button type="submit" class="login_button">Login</button>
            <span class="signup_link"> <a href="#">Sign Up</a></span>
            <span class="forgot_password">Forgot <a href="#">password?</a></span>
        </form>
        </div>
    </div>    
</body>