<script src="/script/script.js"></script>

<div class="login_container">
    <div class="login_container2">
        <img class="logo_login" src="img/logo.png">
        <form action="" class="login_form" method="post">
            <input type="text" id="myInput" class="input_login" placeholder="Email" name="email" required>
            <input type="password" class="input_login" placeholder="Password" name="password" required>
            <button type="submit" class="login_button">Log in</button>
             <div class="signup_forgotpassword">
             <span class="forgot_password">Forgot <a href="#">password?</a></span>
            <span class="signup_link"><a href="signup">Sign Up</a></span>
           </div>
        </form>
    </div>
</div>

