<nav class="mobileNav">
    <i class="uil uil-bars"></i>
    <img class="logo" src="https://www.dummyimage.com/100x50/e3e3e3" alt="">
    <img class="userIcon" src="https://www.dummyimage.com/48x48/e3e3e3" alt="">
</nav>

<nav class="desktopNav">
    <img src="https://www.dummyimage.com/400x300/e3e3e3" alt="">

    <ul>
        <li>Dashboard</li>
        <li>Teams</li>
        <li>User setting</li>
        {{#if isAdmin}}
        <li>Admin setting</li>
        {{/if}}
    </ul>
</nav>