<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/view/css/style.css"/>
    <title>Kubelab Dashboard</title>
</head>
<body>
<<<<<<< Updated upstream:views/index.hbs
    {{body}}
=======
    <div class="login_container">
        <img class="logo_login" src="">
    <form action="" method="post">
          <label for="username">Username</label>
          <input type="text" placeholder="Enter Username" name="username" required>
      
          <label for="psw">Password</label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit" class="login_button">Login</button>
          <span class="signup_link"> <a href="#">Sign Up</a></span>
          <span class="psw">Forgot <a href="#">password?</a></span>
      </form>
      </div>
>>>>>>> Stashed changes:index.html
</body>