<link rel="stylesheet" href="css/login.css" />

<div class="login_container">
	<div class="login_container2">
		<img class="logo_login" src="img/logo_1.png" />
		<form action="/login" class="login_form" method="post">
			<input type="text" id="myInput" class="input_login" placeholder="Email" name="email" required />
			<input type="password" class="input_login" placeholder="Password" name="password" required />
			<button type="submit" class="button">Log in</button>
			<div class="signup_forgotpassword">
				<span class="forgot_password"><a href="forgot_password">Forgot password?</a></span>
				<span class="signup_link"><a href="signup">Sign up</a></span>
			</div>
		</form>
		<p class="error_msg">{{loginErrorMsg}}</p>
	</div>
</div>