	<link rel="stylesheet" href="/css/settings.css" />
{{> nav}}
<main class="main_settings">
	{{> header}}
	<section class="container">
{{> settingsnav}}
		<div class="settings_container">
			<div class="profile_container">
				<div>
					<h2>Change profile</h2>
					<h3>Display mode</h3>
				</div>
				<svg class="profileicon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path
						stroke="currentColor"
						stroke-width="1"
						d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
					/>
				</svg>
			</div>

			<h3>Change name</h3>
			<form>
				<div class="input_container">
					<div class="entryarea">
						<input type="text" class="inputtext" required>
						<div class="labelline">First name</div>
					</div>
						<div class="entryarea">
						<input type="text" class="inputtext" required>
						<div class="labelline">Last name</div>
					</div>
				</div>
			</form>
			<button type="submit" class="button">Change name</button>
		</div>
	</section>


</main>