{{> nav}}
<main class="main_settings">
	{{> header}}

	<section class="container">
{{> settingsnav}}
		<div class="settings_container">
			<h3>Change password</h3>
			<form method="post">
							<div class="input_container">
		<div class="entryarea">
			<input type="text" name="curPassword" class="inputtext" required>
			<div class="labelline">Current password</div>
		</div>
			<div class="entryarea">
			<input type="text" name="newPassword" class="inputtext" required>
			<div class="labelline">New password</div>
		</div>
					<div class="entryarea">
			<input type="text" name="repeatNewPassword" class="inputtext" required>
			<div class="labelline">Repeat new password</div>
		</div>
	</div>
			<button type="submit" class="button">Change password</button>

			</form>
          <a href="default.asp" class="passwordLink" target="_blank">Forgot password</a>
		</div>
	</section>

    <div class="toast-overlay" 
		id="toast-overlay"></div>

	{{#if message}}
		 
	<script>
		// We need make a variable to pass on a value from handlebars to script file.
		const isCurrentPasswordCorrectType = "{{message.type}}";
		const isCurrentPasswordCorrectText = "{{message.text}}";
	</script>
    <script src="script/updatePasswordToast.js"></script>

	{{/if}}
</main>