{{> nav}}
<main class="main_settings">
	{{> header}}

	<section class="container">
{{> settingsnav}}
		<div class="settings_container">
			<div class="profile_container">
				<div>
					<h2>Upgrade user</h2>
			
				</div>
				<svg class="profileicon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path
						stroke="currentColor"
						stroke-width="1"
						d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
					/>
				</svg>
			</div>

			<h3>Change name</h3>
			<section class="drop-section">
<form action="/teams">
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <br><br>
  <input type="submit" class="button" value="Upgrade user">
</form>
			</section>

			<button type="submit" class="button">Upgrade user</button>
		</div>
	
	</section>

</main>