{{> nav}}
<main class="main_settings">
	{{> header}}
	<h2>Settings - Change password</h2>
	<section class="container">
{{> settingsnav}}
		<div class="settings_container">
			<h3>Change password</h3>
			<form>
				<input type="text" class="input" placeholder="Current password" name="Current password" required />
				<input type="text" class="input" placeholder="New password" name="New password" required />
                <input type="text" class="input" placeholder="Repeat password" name="Repeat password" required />
			</form>
			<button type="submit" class="login_button">Change password</button>
          <a href="default.asp" class="passwordLink" target="_blank">Forgot password</a>
		</div>
	</section>
</main>