<div class="login_container">
    <div class="login_container2">
        <img class="logo_login" src="img/logo.png">
        <h2 class="h2_signup">Sign up</h2>
        <form action="" class="login_form" method="post">
            <input type="text" class="input_signup" placeholder="Enter Firstname" name="firstname" required>
            <input type="text" class="input_signup" placeholder="Enter Last Name" name="lastname" required>
            <input type="text" class="input_signup" placeholder="Enter Email" name="email" required>
            <input type="password" class="input_signup" placeholder="Enter Password" name="password" required>
            <input type="password" class="input_signup" placeholder="Repeat Password" name="repeatpassword" required>
            <button type="submit" class="login_button">Create User</button>
            <span class="already_have_a_login">Already have a  <a href="login">Login?</a></span>
    </div>
</div>