<script src="/script/script.js"></script>

<div class="signup_container">
    <div class="signup_container2">
        <img class="logo_login" src="img/logo_1.png">
        <h2 class="h2_signup">Sign up</h2>
        <form action="" class="login_form" method="post">
            <input type="text" class="input_signup" placeholder="Firstname" name="firstname" required>
            <input type="text" class="input_signup" placeholder="Last Name" name="lastname" required>
            <input type="text" class="input_signup" placeholder="Email" name="email" required>
            <input type="password" class="input_signup" placeholder="Password" name="password" required>
            <input type="password" class="input_signup" placeholder="Repeat Password" name="repeatpassword" required>
            <button type="submit" class="button">Sign up</button>
            <span class="already_have_a_login">Already have an account? <a href="login">Login</a></span>
    </div>
</div>