
	<link rel="stylesheet" href="css/teams.css" />
<script src="/script/teams.js" defer></script>

{{> nav}}
<main class="main_settings">
	{{> header}}
  
  <div class="team-container">
    <!-- Venstre Sektion -->
    <div class="team-setup">
      <h2>Create team or edit existing team</h2>

      <!-- Tabs til Create og Edit -->
      <div class="tabs">
        <button class="tab active">Create team</button>
        <button class="tab">Edit existing team</button>
      </div>
	  <div>
		
	  </div>
  <!-- Team name imput-->
        <select id="add-name">
          <option value="0">Team name</option>
          <option value="1">Team 1</option>
          <option value="2">Team 2</option>
          <option value="3">Team 3</option>
        </select>
  <!-- add member imputfelt-->
        <select id="add-members">
          <option value="0">Add team member</option>
          <option value="1">Mai</option>
          <option value="2">Michael</option>
          <option value="3">Bob</option>
        </select>
  <!-- or udload CSV fil-->
        <div class="or-section">
          <span>Or</span>
          <div id="csv-dropzone" class="button">Upload CSV File</div>
          <input type="file" id="csv-file-input" accept=".csv" hidden />
        </div>

        <textarea id="csv-textbox" rows="5" placeholder="Indsæt eller upload CSV-indhold her..."></textarea>

        <label for="description">Description</label>
        <textarea id="description" rows="3" placeholder="Enter team description"></textarea>

        <label for="expiration">Expiration date</label>
        <input type="date" id="expiration" />

        <button type="submit" class="create-button button">Create team</button>
      </form>
    </div>

    <!-- Højre Sektion -->
    <div class="team-members">
      <h2>Added Team members</h2>
      <ul id="added-members-list">
        <li>Markus</li>
        <li>Markus</li>
        <li>Markus</li>
      </ul>
    </div>
  </div>
</main>