
	<link rel="stylesheet" href="css/teams.css" />
<script src="/script/teams-create.js" defer></script>

{{> nav}}
<main class="main_settings">
	{{> header}}
  
  <div class="team-container container">
    <!-- Venstre Sektion -->
    <div class="team-setup">
      <h2>Create team</h2>

      <!-- Tabs til Create og Edit -->
      <div class="tabs">
        <a class="tab active">Create team</a>
           <a href="/teams-edit" class="tab"> Edit existing team</a>
      </div>
      
	  </div>


    <div class="teamContainer">
      <form action="/createTeam" class="" method="post"> 
		 <!-- Team name imput-->

				<div class="input_container">
						<div class="entryarea">
						<input type="text" name="name" class="inputtext" required>
						<div class="labelline">Team name</div>
					</div>
				</div>

<div class="teamContainer">   
  <label for="description">Description</label>
        <textarea id="description" rows="3" placeholder="Enter team description" name="description" class=""></textarea>
</div>
     
<div class="teamContainer">
   <label for="expiration" >Expiration date</label>
        <input type="date" name="expire" class="input_group date" id="expiration" />
</div>
       

        <button type="submit" class="create-button button">Create team
        </button>
        </form>
	  </div>
 


    </div>
  </div>
</main>