.container {
	background-color: var(--secondary-darkmode-background-color);
	/* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
	color: var(--primary-darkmode-font-color);
	font-family: var(--primary-font-family);
	padding-inline: 15px;
	padding-top: 5px;
	filter: var(--dropshadow);
}

.profileicon {
	color: var(--primary-darkmode-font-color);
	width: auto;
	height: 62px;
	background-image: var(--primary-gradient-background-image);
	border-radius: 50%;
}

.profile_container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.Link {
	color: var(--primary-darkmode-font-color);
	text-decoration: none;
	font-style: bold;
}

.passwordLink {
	color: var(--primary-link-color);
}

.imput_group {
	border-radius: 0px 0px 6px 6px;
	border: 2px solid var(--Schemes-On-Error, #fff);
	width: 100%;
	height: 50px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
	border: 1.5px solid var(--primary-darkmode-border-color);
	background-color: var(--secondary-darkmode-background-color);
	padding: 10px 10px;
	border-radius: 5px;
	color: var(--primary-darkmode-font-color);
}
h4 {
	font-weight: bold;
}
/* 
.input_container {
	width: 680px;
} */

.entryarea {
	position: relative;
	height: 80px;
	line-height: 60px;
	padding: 5 0px;
}

.inputtext {
	position: absolute;
	width: 100%;
	outline: none;
	/* font-size: 2.2em; */
	padding: 0 30px;
	line-height: 60px;
	border-radius: 5px;
	border: 2px solid #f0ffff;
	background: transparent;
	transition: 0.1s ease;
	z-index: 1111;
}

.labelline {
	position: absolute;
	/* font-size: 1.6em; */
	color: #f0ffff;
	padding: 0 25px;
	/* margin: 0 20px; */
	background-color: var(--secondary-darkmode-background-color);
	transition: 0.25s ease;
}

.inputtext:focus,
.inputtext:valid {
	color: var(--primary-darkmode-font-color);
	border: 4px solid var(--primary-darkmode-font-color);
}

.inputtext:focus + .labelline,
.inputtext:valid + .labelline {
	color: var(--primary-darkmode-font-color);
	height: 30px;
	line-height: 30px;
	transform: translate(20px, -16px) scale(0.88);
	z-index: 1111;
	padding: 0 10px;
}

select {
	background-color: var(--secondary-darkmode-background-color);
	color: var(--primary-darkmode-font-colo);
	padding: 10px;
	margin: 8px 0;
	font-size: larger;
	border: 1px solid var(--primary-darkmode-border-color);
	border-radius: 6px;
	width: 100%;
}

/* //////////////////// */
/* TOAST (pop op info)  */
/* //////////////////// */
.toast-buttons {
	max-width: 40em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	margin: 2em auto;
}

.toast-row,
button.custom-toast {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
	padding: 1rem;
	flex-wrap: wrap;
	font-size: 1rem;
}

button.custom-toast {
	width: 8em;
	padding: 0.5rem 1rem;
	border: none;
	color: #fff;
	font-weight: 500;
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.785);
	cursor: pointer;
	margin: 0.5em;
	transition: filter 0.2s ease-in-out, transform 0.3s ease-in-out;
	background-color: #3498db;
	outline: none;
	text-align: center;
}

button.custom-toast:hover {
	filter: brightness(0.9);
}

button.success-toast {
	background-color: #2ecc71;
}
button.danger-toast {
	background-color: #e74c3c;
}

.toast {
	position: fixed;
	top: 2em;
	right: 2em;
	max-width: 16em;
	background: #fff;
	padding: 0.5rem;
	border-radius: 4px;
	box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 1023;
	animation: slideInRight 0.3s ease-in-out forwards, fadeOut 0.5s ease-in-out 3s forwards;
}

.toast.closing {
	animation: slideOutRight 0.5s ease-in-out forwards;
}

.toast-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background: #b7b7b7;
	animation: toastProgress 3s ease-in-out forwards;
}

.toast-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toast-icon {
	padding: 0.35rem 0.5rem;
	font-size: 1.5rem;
}
.toast-message {
	flex: 1;
	font-size: 0.9rem;
	color: #000000;
	padding: 0.5rem;
}

.toast.toast-success {
	background: #41af7d;
} /* actual background */
.toast.toast-success .toast-progress {
	background-color: #95eab8;
} /* duration bar */
.toast.toast-danger {
	background: #e94545;
} /* actual background */
.toast.toast-danger .toast-progress {
	background-color: #efaca5;
} /* duration bar */

@keyframes slideInRight {
	0% {
		transform: translateX(110%);
	}
	75% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideOutRight {
	0% {
		transform: translateX(0%);
	}
	25% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(110%);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes toastProgress {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}
/* Der skal være toast både på desktop og mobil */
/* END OF TOAST */

/* For tablets */
@media only screen and (min-width: 600px) {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0px;
	}

	.main_settings {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.settings_container {
		padding: 25px;
		max-width: 44rem;
		width: 20rem;
	}
	.profileicon {
		height: 120px;
	}
	.profile_container {
		align-items: normal;
	}

	.settings {
		border-right: solid 3px rgba(10, 10, 10, 0.8);
		/* padding: 30px 40px 30px 40px; */
		padding: 25px;
	}
	.dropd {
		display: flex;
		flex-direction: column;
	}

	select {
		width: auto;
	}
}

/* For desktop */
@media only screen and (min-width: 961px) {
}

/* teams */
