@media only screen and (max-width: 431px) {
  .desktopNav {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav i {
    font-size: 2rem;
    color: #9145DC;
  }

/* Change styles for span and cancel button on extra small screens */
  form {
    display: block;
    float: none;
    width: 100%;
  }
  
}

@media only screen and (min-width: 900px) {
  .mobileNav{
    display: none;
  }
}

/* Main styling */
:root {
  --primary-darkmode-button-color: #fd2d00;
  --primary-darkmode-background-color: #23222A;
  --primary-darkmode-font-color:#fff;
  --primary-font-family: verdana;
}

body {
  background-color: var(--primary-darkmode-background-color);
}
/*Style for login site*/
form {
    width: 25%;
 
}

.login_container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
  color: var(--primary-darkmode-font-color);
  font-family: var(--primary-font-family);
  background-color: red;
}

.login_container2 {
  display: flex;
  flex-direction: column;
  background-color: blue;
  margin:auto;
  align-items: center;
}

/* Full-width inputs */
.input_login[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_button {
  background-color: var(--primary-darkmode-button-color);
  color: var(--primary-darkmode-font-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.logincontainer {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
}

/* The "Forgot password" text */
span.forgot_password {
  float: right;
}

.logo_login {
  width: 10%;
  height: 10%;
}

span.signup_link {
  color: var(--primary-darkmode-font-color);
}