/* .team-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	margin: 2rem 0;
	flex-direction: column;
} */
.teamContainer {
	display: flex;
	flex-direction: column;
}

.teamContainer2 {
	color: var(--primary-darkmode-font-color);
}

.tabs {
	display: flex;
	margin-bottom: 1rem;
}
a {
	text-decoration: none;
}

.tab {
	background-color: var(--primary-darkmode-inactive-font-color);
	color: var(--primary-darkmode-font-color);
	margin: 8px 0;
	border: none;
	flex: 1;
	cursor: pointer;
	width: 100%;
	font-family: var(--primary-font-family);
	/* border-radius: var(--primary-square-button-border-radius); */
	border-radius: 0;
	cursor: pointer;
	transition: all 0.3s ease;
	padding: 10px;
	white-space: nowrap;
}
.tab:first-child {
	border-radius: 50px 0 0 50px; /* Rounded left side */
}

.tab:last-child {
	border-radius: 0 50px 50px 0; /* Rounded right side */
}

.tab.active {
	/* background-color: var(--primary-darkmode-button-color); */
	color: var(--primary-darkmode-font-color);
	background-image: var(--primary-gradient-background-image);
	white-space: nowrap;
}
.tab:hover {
	background-color: var(--primary-link-color);
}

label {
	color: var(--primary-darkmode-inactive-font-color);
}

.input_group,
textarea {
	width: 100%;
	border-radius: 5px;
	border: 1.5px solid var(--primary-darkmode-border-color);
	background-color: var(--secondary-darkmode-background-color);
	color: var(--primary-darkmode-font-color);
	padding: 0.5rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

.input_group.date::-webkit-calendar-picker-indicator {
	filter: invert(1); /* Gør ikonet hvidt */
	cursor: pointer; /* Ændrer musen til en pointer */
}

/* Tilføj dette for bedre fokusindikation */
.input_group.date:focus {
	outline: none;
	border-color: var(--primary-link-color); /* Fokusfarve */
}

.button {
	/* margin: 8px 0px; */
	padding: 9px 30px;
}

.team-members {
	/* background-color: var(--secondary-darkmode-background-color); */
	border-radius: 8px;
	border: 1px solid var(--primary-darkmode-border-color);
}

#added-members-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#added-members-list li {
	padding: 0.5rem;
	color: var(--primary-darkmode-font-color);
	border-radius: 4px;
	margin-bottom: 0.5rem;
}

table {
	padding: 0px;
}

.styled-table {
	width: 100%;
	margin: 20px 0;
}
.styled-table thead th {
	color: var(--primary-darkmode-font-color);
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
}

.button {
	display: inline-block; /* Sørg for, at knapperne ikke opfører sig som blokke */
	margin: 5px 0; /* Giv vertikalt mellemrum over og under hver knap */
}

.team-members {
	padding: 1.5rem;
	border-radius: 8px;
	background-color: var(--secondary-darkmode-background-color);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
	.team-container {
		width: 45rem;
		padding: 25px;
	}

	.tab {
		padding: 14px 20px;
	}
	.main_settings {
		margin: 0 auto;
		width: 80%;
		margin-top: 1em;
		margin-bottom: 2em;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
	}
}
