.template_main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	width: 80%;
	margin-top: 1em;
	margin-bottom: 2em;
	justify-content: flex-start;
}

.templateWrapper {
	min-height: 70vh;
	margin-bottom: 6em;
	width: 50%;
}
.templateWrapper textarea,
.templateCreationForm textarea {
	border: solid 2px var(--primary-darkmode-background-color);
	padding: 1em;
	font-size: 1em;
	width: 100%;
	height: 70%;
}
.createTemplate_link {
	width: fit-content;
	padding: 0.75em;
	text-decoration: none;
}
.templateCreationForm {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
	height: 80vh;
}
.templateCreationForm fieldset {
	margin: 0 0 1em 0;
	align-items: center;
	padding: 0.5em;
}
.templateCreationForm fieldset:has(textarea) {
	height: 100%;
}
.templateCreationForm textarea {
	height: 90%;
	width: 100%;
}
.templateCreationForm input {
	width: 100%;
	margin: 0.5em 0;
	box-sizing: border-box;
	border: 1.5px solid var(--primary-darkmode-border-color);
	background-color: var(--secondary-darkmode-background-color);
	padding: 10px 10px;
	border-radius: 5px;
	color: var(--primary-darkmode-font-color);
}
.templateCreationForm input[name="title"],
.templateCreationForm input[type="file"] {
	margin-top: 0.5em;
}
.templateCreationForm fieldset:has(input[type="file"]) {
	margin-bottom: 0.5em;
}

/* Modal styling */
.templateFormModal_wrapper {
	display: none;
	color: var(--primary-darkmode-background-color);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--primary-darkmode-background-color);
	background-color: var(--box-shadow-color);
	padding-top: 4em;
}

.templateFormModal_wrapper .templateFormModal_content {
	background-color: var(--primary-darkmode-font-color);
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	width: 400px;
	position: relative;
	box-shadow: 0 4px 15px var(--box-shadow-color);
}

.templateFormModal_wrapper .close {
	color: var(--primary-link-color);
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

.templateFormModal_wrapper .close:hover,
.templateFormModal_wrapper .close:focus {
	color: var(--primary-darkmode-background-color);
	text-decoration: none;
}

.templateFormModal_wrapper h2 {
	text-align: center;
	margin-bottom: 1em;
	color: var(--secondary-darkmode-background-color);
}

.templateFormModal_wrapper .templateModalForm_deletion button {
	width: 100%;
}
.templateFormModal_wrapper .templateModalForm_deletion {
	width: 33%;
}
.templateFormModal_content div {
	display: flex;
	justify-content: space-around;
}
.templateFormModal_wrapper button {
	font-size: 1em;
	border: none;
	padding: 1em 1.5em;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.templateFormModal_wrapper .templateModalForm_deletion button[type="submit"] {
	background-color: var(--negative-status-color);
	color: var(--primary-darkmode-border-color);
}

.templateFormModal_wrapper .templateModalForm_deletion button[type="submit"]:hover {
	background-color: var(--negative-status-color);
}

.templateFormModal_wrapper .templateFormModalBtn_cancel {
	height: fit-content;
	width: 33%;
	background-color: var(--third-darkmode-background-color);
	color: var(--primary-darkmode-border-color);
}

.templateFormModal_wrapper .templateFormModalBtn_cancel:hover {
	background-color: var(--secondary-darkmode-background-color);
}

.templateFormBtn_wrapper {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
}

.templateSaveBtn,
.templateDeletionBtn {
	padding: 0.75em 1.5em;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.templateSaveBtn {
	background-color: var(--secondary-darkmode-background-c);
	color: var(--secondary-darkmode-font-color);
	border: 1px solid var(--secondary-darkmode-list-info-background-color);
}

.templateSaveBtn:hover {
	background-color: var(--third-darkmode-background-color);
	border-color: var(--secondary-darkmode-list-info-background-color);
}

.templateDeletionBtn {
	background-color: var(--negative-status-color);
	color: var(--primary-darkmode-border-color);
	border: 1px solid var(--danger-color);
}

.templateDeletionBtn:hover {
	background-color: var(--negative-status-color);
	border-color: var(--danger-color);
}
.templateCreationLink_back {
	color: var(--primary-link-color);
	text-decoration: none;
	padding: 0.5em 2.5em;
}