<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/view/css/style.css"/>
    <title>Kubelab Dashboard</title>
</head>
<body>
    <header>
        <h1>Projects</h1>
        <div class="search">
            <input type="text" placeholder="search"></input>
            <button>Search</button>
        </div>
    </header>
    <nav>
        <img class="logo" src="" alt="">
        <ul>
            <li>Projects</li>
            <li>Teams</li>
            <li>Settings</li>
        </ul>
    </nav>
    <main></main>
    <footer></footer>
</body>
</html>